body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    background: #252442;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
}

a {
    color: #eee;
    text-decoration: none;
}